{deps,
 [
  {esupervisor, ".*", {git, "https://github.com/spawngrid/esupervisor", {branch, "master"}}},
  {gproc, ".*", {git, "https://github.com/esl/gproc", {branch, "master"}}},
  {seqbind, ".*", {git, "https://github.com/spawngrid/seqbind", {branch, "master"}}},
  {ossp_uuid, ".*", {git, "https://github.com/yrashk/erlang-ossp-uuid", {branch, "master"}}}
]}.
